<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path do %>
    <span class="top-icon">
    <%= image_tag "site-icon.png", alt: "サイトアイコン", width: 40, height: 40 %>
    Taskun.
    </span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <%= link_to user_path(current_user.id), class: "nav-link text-white" do %>
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class: "profile-image-small" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "profile-image-small" %>
          <% end %>
          マイページ
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to tasks_path, class: "nav-link text-white" do %>
          <i class="fa-solid fa-list-check"></i> タスク
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to users_path, class: "nav-link text-white" do %>
          <i class="fa-solid fa-users"></i> ユーザー
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to groups_path, class: "nav-link text-white" do %>
          <i class="fa-solid fa-user-group"></i> グループ
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-white" do %>
          <i class="fa-solid fa-right-from-bracket"></i> ログアウト
        <% end %>
      </li>
    </ul>
  </div>
</nav>

