<div class="dropdown notification">
  <a class="submit-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-bell"></i>
    <%= current_user.notifications.where(read: false).count %>
    <i class="fa-solid fa-caret-down"></i>
  </a>

  <ul class="dropdown-menu">
    <% if current_user.notifications.where(read: false).any? %>
      <li>
        <b><small class="dropdown-item text-muted">直近5件の未読通知</small></b>
        <hr>
      </li>
      <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
        <li>
          <%= link_to notification_path(notification), method: :patch, class: "dropdown-item notification_message" do %>
            <% notification_user = notification.notifiable.try(:user) || notification.notifiable.try(:follower) %>
            <% if notification_user&.image&.attached? %>
              <%= image_tag notification_user.image, class: "profile-image-small me-2" %>
            <% else %>
              <%= image_tag "no_image.jpg", class: "profile-image-small me-2" %>
            <% end %>
            <b><%= notification.message %></b>
            <small class="text-muted d-block"><%= notification.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %></small>
          <% end %>
          <hr>
        </li>
      <% end %>
    <% else %>
      <li><span class="dropdown-item text-muted">未読の通知はありません</span></li>
    <% end %>
  </ul>
</div>

