
<div class="main-title">
  <h4><i class="fa-solid fa-question"></i>グループ機能とは</h4>
</div>

<div class="index-resolts">
  <div class="index-card">
    <p><span class="task-meta">同じ目標を持ってるユーザーとグループを作成して、みんなでタスクを消化しよう！</span></p>
    <hr>
    <div class="mail-title">
      <span class="highlight"><b><i class="fa-solid fa-envelope"></i> メール通知機能</b></span>
    </div>
    <span class="task-meta">
      グループに所属しているメンバーにメールを一斉送信することが可能です。<br>
      <br>
      <b>やり方</b><br>
      <ol>
        <li>
          <b>送りたい内容を入力</b><br>
          <%= image_tag "mail.png", alt: "メール入力", class: "mail-image", width: 254, height: 234 %>
        </li>
        <li>
          <b>送信ボタンを押して、送信結果画面が表示されるまで待ちます。</b><br>
          （数秒お時間がかかります）<br>
          <%= image_tag "mail_send.png", alt: "メール送信結果", class: "mail-image", width: 254, height: 234 %>
        </li>
        <li>
          <b>Gmailでも受信が可能です。</b><br>
          <%= image_tag "incoming_mail.png", alt: "メール受信", class: "mail-image", width: 254, height: 234 %>
        </li>
      </ol>
    </span>
    <hr>
    <div class="auth-buttons">
        <%= link_to  new_group_path, class: "submit-btn-registrations" do %>
          さっそくグループを作成してみる
        <% end %>
        <%= link_to groups_path, class: "submit-btn-group" do %>
          グループの一覧を見に行く
        <% end %>
    </div>
    <p></p>
  </div>
</div>

