
<div class="main-title">
  <h4><i class="fa-solid fa-user-group"></i>グループ一覧画面</h4>
</div>

<%= button_to new_group_path, class: "submit-btn-group" do %>
  <i class="fa-solid fa-user-group"></i> <i class="fa-solid fa-plus"></i>
<% end %>
<p></p>

<% @groups.each do |group| %>
  <div class="index-results">
    <div class="index-card">
      <div class="index-header">
        <%= link_to group_path(group) do %>
          <% if group.image.attached? %>
            <%= image_tag group.image, class: "profile-image", alt: "#{group.name}の画像" %>
          <% else %>
            <%= image_tag "no_group_image.png", class: "profile-image", alt: "#{group.name}の画像" %>
          <% end %>
        <% end %>
        <div class="index-info">
          <span class="task-meta">
            <i class="fa-solid fa-user"></i> <%= group.members.count + 1 %> 人
          </span>
          <b><%= link_to group.name, group_path(group) %></b>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @groups %>
