<div class="main-title">
  <h4><i class="fa-solid fa-user-group"></i>グループ詳細画面</h4>
</div>

<div class="edit-delete-button">
  <%= link_to about_groups_path, method: :get, class: "submit-btn-group" do %>
    <i class="fa-solid fa-question"></i>
  <% end %>
  <%= link_to groups_path, class: "submit-btn-group" do %>
    <i class="fa-solid fa-list"></i>
  <% end %>
</div>
<p></p>

<div class="detail-results">
  <div class="detail-card">
    <div class="detail-row">
      <b>グループ名</b>：
      <% if @group.image.attached? %>
        <%= image_tag @group.image,  alt: "#{@group.name}のプロフィール画像", class: "profile-image"  %>
      <% else %>
        <%= image_tag "no_group_image.png", class: "profile-image", alt: "#{@group.name}の画像" %>
      <% end %>
      <%= @group.name %>
      <p></p>
      <b>概要</b>：<%= @group.summary %>
      <p></p>
      <hr>
      <span class="task-meta-detail">
        <b>作成者</b>：
        <%= link_to user_path(@group.owner.id) do %>
          <% if @group.owner.image.attached? %>
            <%= image_tag @group.owner.image,  alt: "#{@group.owner.name}のプロフィール画像", class: "profile-image-small" %>
          <% else %>
            <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
          <% end %>
          <b><%= @group.owner.name %></b>
        <% end %>
        <hr>
        <p>
        <b>メンバー</b>： <b><%= @group.members.count + 1 %> 人</b>
        <div class="group-list">
          <%= link_to user_path(@group.owner.id) do %>
            <% if @group.owner.image.attached? %>
              <%= image_tag @group.owner.image,  alt: "#{@group.owner.name}のプロフィール画像", class: "profile-image-small" %>
            <% else %>
              <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
            <% end %>
          <% end %>
          <% @group.members.each do |member| %>
            <%= link_to user_path(member) do %>
              <% if member.image.attached? %>
                <%= image_tag member.image, alt: "#{member.name}のプロフィール画像", class: "profile-image-small" %>
              <% else %>
                <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        </p>
      </span>
      <div class="edit-delete-button">
        <% if @group.owner == current_user %>
          <%= button_to edit_group_path(@group), method: :get, class: "submit-btn" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= button_to group_path(@group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
        
        <% unless @group.owner == current_user || @group.members.include?(current_user) %>
          <%= button_to join_group_path(@group), method: :post, class: "submit-btn" do %>
            <i class="fa-solid fa-user-plus"></i>
          <% end %>
        <% end %>
        <% if @group.members.include?(current_user) %>
          <%= button_to leave_group_path(@group), method: :delete, class: "btn btn-danger" do %>
            <i class="fa-solid fa-user-minus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
