<h1>タスク新規投稿フォーム</h1>

<%= form_with model: @task, local: true do |f| %>
  <h4>タスク内容</h4>
  <%= f.text_field :title %>

  <h4>キーワード</h4>
  <%= f.text_field :keyword1 %>
  <%= f.text_field :keyword2 %>
  <%= f.text_field :keyword3 %>
  <p></p>

  <%= f.submit "投稿" %>
<% end %>