<h1>タスク新規投稿フォーム</h1>
<% if @task.errors.any? %>
  <%= @task.errors.count %>件のエラーが発生しました。
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <h4>タスク内容</h4>
  <%= f.text_field :title %>

  <h4>キーワード</h4>
  <%= f.text_field :keyword1 %>
  <%= f.text_field :keyword2 %>
  <%= f.text_field :keyword3 %>
  <p></p>

  <%= f.submit "投稿" %>
<% end %>