<h1>投稿一覧（管理者）</h1>

<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>投稿者</th>
    <th>内容</th>
    <th>投稿日</th>
    <th>操作</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.user.name %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td>
        <%= link_to '削除', admin_task_path(task), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "delete-button" %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @tasks %>
