<div class="main-title">
  <h4><i class="fa-solid fa-check"></i> タスク編集画面</h4>
</div>

<% if @task.errors.any? %>
  <div class="new-error-message">
    <b class="title"><%= @task.errors.count %>件のエラーが発生しました。</b>
    <p></p>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="index-results">
  <div class="index-card">
    <div class="index-header">
      <%= form_with model:@task do |f| %>
        <div class="form-field">
          <b>タスク内容</b>
          <%= f.text_field :title, class: "form-input" %>
        </div>

        <div class="form-field">
          <b>キーワード</b>
          <%= f.text_field :keyword1, class: "form-input" %>
          <%= f.text_field :keyword2, class: "form-input" %>
          <%= f.text_field :keyword3, class: "form-input" %>
        </div>

        <div class="form-field">
          <%= f.submit "保存", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
