<%= javascript_pack_tag 'tasks' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="main-title">
        <h4><i class="fa-solid fa-check"></i>タスク一覧</h4>
      </div>

      <% @tasks.each do |task| %>
        <div class="index-results">
          <div class="index-card">
            <div class="index-header">
              <% if task.user == current_user %>
                <span class="task-checkbox" data-task-id="<%= task.id %>">
                  <i class="fa-solid fa-circle-check <%= 'completed-icon' if task.completed %>"></i>
                </span>
              <% else %>
                <span class="task-checkbox">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
              <% end %>

              <%= link_to user_path(task.user.id) do %>
                <% if task.user.image.attached? %>
                  <%= image_tag task.user.image, class: "profile-image", alt: "#{task.user.name}のプロフィール画像" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "profile-image", alt: "デフォルトプロフィール画像" %>
                <% end %>
              <% end %>

              <div class="index-info">
                <span class="task-meta">
                  <%= task.user.name %> / 
                  <%= task.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %> / 
                  <i class="fa-regular fa-comment"></i> <%= task.comments.count %> / 
                  <i class="fa-solid fa-fire"></i> <%= task.favorites.count %> 
                </span>
                <b class="<%= 'completed-text' if task.completed %>">
                  <%= link_to task.title, task_path(task.id) %>
                </b>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= paginate @tasks %>
    </div>
  </div>
</div>

<div id="commentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>コメントを入力してください:</p>
    <textarea id="commentInput" rows="4"></textarea>
    <button id="submitComment">送信</button>
  </div>
</div>
