<h1>タスク新規投稿フォーム</h1>

<% if @task.errors.any? %>
  <div class="new-error-message">
    <b class="title"><%= @task.errors.count %>件のエラーが発生しました。</b>
    <p></p>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <div class="form-field">
    <h4>タスク内容</h4>
    <%= f.text_field :title, class: "form-input" %>
  </div>

  <div class="form-field">
    <h4>キーワード</h4>
    <%= f.text_field :keyword1, class: "form-input" %>
    <%= f.text_field :keyword2, class: "form-input" %>
    <%= f.text_field :keyword3, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.submit "投稿", class: "submit-btn" %>
  </div>
<% end %>
