<div class="main-title">
  <h4><i class="fa-solid fa-check"></i>タスク詳細画面</h4>
</div>

<div class="detail-results">
  <div class="detail-card">
    <div>
      <b>タスク名</b>：
      <%= @task.title %>
      <span align="right">
        <%= render 'public/favorites/favorite-btn', task: @task %>
      </span>
      <hr size="10">
    </div>
    <div>
      <span class="task-meta">
        <b>投稿したユーザー</b>：
          <%= link_to user_path(@task.user) do %>
            <% if @task.user.image.attached? %>
              <%= image_tag @task.user.image, alt: "#{@task.user.name}のプロフィール画像", class: "profile-image-small" %>
            <% else %>
              <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
            <% end %>
            <%= @task.user.name %>
          <% end %>
        <br>
        <b>キーワード</b>：
        <%= @task.keyword1 %> / 
        <%= @task.keyword2 %> / 
        <%= @task.keyword3 %>
        <br>
        <b>投稿日時</b>：
        <%= @task.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %>
        <br>
        <b>更新日時</b>：
        <%= @task.updated_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %>
      </span>
    </div>
    <div align="right">
      <% if @task.user == current_user %>
        <%= link_to "編集", edit_task_path(@task.id) %> | 
        <%= link_to "削除", task_path(@task.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
  </div>
</div>

<div class="index-results">
  <div class="index-card">
    <div class="index-header">
      <ul>
        <b>コメント件数：<%= @task.comments.count %></b>
        <hr size="10">
        <p></p>
        <!-- コメント表示 -->
        <% @task.comments.each do |task_comment| %>
          <li class="comment">
            <div class="comment-container">
              <div class="comment-image">
                <%= link_to user_path(task_comment.user) do %>
                  <% if task_comment.user.image.attached? %>
                    <%= image_tag task_comment.user.image, alt: "#{task_comment.user.name}のプロフィール画像", class: "profile-image" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image" %>
                  <% end %>
                <% end %>
              </div>
              <div class="comment-content">
                <p class="comment-text"><%= task_comment.comment %></p>
                <span class="task-meta">
                  <%= task_comment.user.name %>
                  <%= task_comment.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %>
                  <% if task_comment.user == current_user %>
                    <%= link_to "削除", task_comment_path(task_comment.task, task_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                  <% end %>
                </span>
              </div>
              <br>
            </div>
          </li>
          <hr size="10">
        <% end %>
        <!-- コメント投稿フォーム -->
        <%= form_with model: @task_comment, url: task_comments_path(@task), local: true do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力", class: "form-input-comment" %>
          <%= button_tag(type: 'submit', class: 'submit-btn') do %>
            <i class="fa-solid fa-paper-plane"></i>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
