<div class="main-title">
  <h4><i class="fa-solid fa-check"></i>タスク詳細画面</h4>
</div>

<div class="detail-results">
  <div class="detail-card">
    <div>
      <b>タスク名</b>：
      <%= @task.title %>
      <span class="favorite-btn favorite-btn-<%= @task.id %>">
        <%= render 'public/favorites/favorite-btn', task: @task %>
      </span>
      <hr size="10">
    </div>
    <div>
      <span class="task-meta">
        <b>投稿したユーザー</b>：
          <%= link_to user_path(@task.user) do %>
            <% if @task.user.image.attached? %>
              <%= image_tag @task.user.image, alt: "#{@task.user.name}のプロフィール画像", class: "profile-image-small" %>
            <% else %>
              <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
            <% end %>
            <%= @task.user.name %>
          <% end %>
        <br>
        <b>キーワード</b>：
        <%= @task.keyword1 %> / 
        <%= @task.keyword2 %> / 
        <%= @task.keyword3 %>
        <br>
        <b>投稿日時</b>：
        <%= @task.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %>
        <br>
        <b>更新日時</b>：
        <%= @task.updated_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %>

        <% if @task.complete? %>
          <span class="badge bg-success"> <i class="fa-solid fa-circle-check"></i> 完了</span>
        <% else %>
          <span class="badge bg-secondary"> <i class="fa-thin fa-circle-check"></i> 未完了</span>
        <% end %>
      </span>
    </div>
    <div class="edit-delete-button">
      <% if @task.user == current_user %>
        <% if @task.incomplete? %>
          <%= button_to complete_task_path(@task), method: :patch, class: "submit-btn" do %>
            <i class="fa-solid fa-circle-check"></i> 完了にする
          <% end %>
        <% end %>
        <%= button_to edit_task_path(@task.id), method: :get, class: "submit-btn" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= button_to task_path(@task.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="task-comments">
  <%= render 'public/task_comments/comments', task: @task, task_comment: TaskComment.new %>
</div>

