<div class="main-title">
  <h4><i class="fa-solid fa-user"></i> ユーザ編集画面</h4>
</div>

<% if @user.errors.any? %>
  <div class="new-error-message">
    <b class="title"><%= @user.errors.count %>件のエラーが発生しました。</b>
    <p></p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <% if message.include?("名前") %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <% if @user.errors[:email].any? %>
        <li><%= @user.errors[:email].first %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="index-results">
  <div class="index-card">
    <div class="index-header">
      <%= form_with model:@user do |f| %>
        <b>プロフィール画像</b>
        <%= f.file_field :image, accept: "image/*" %>
        <p></p>
        <div class="form-field">
          <b>ユーザ名</b>
          <%= f.text_field :name, class: "form-input" %>
        </div>
        <div class="form-field">
          <b>メールアドレス</b>
          <%= f.text_field :email, class: "form-input" %>
        </div>
        <div class="form-field">
          <%= f.submit "保存", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
