<div class="main-title">
  <h4><i class="fa-solid fa-users"></i>ユーザー一覧</h4>
</div>

<% @users.each do |user| %>
  <div class="index-results">
    <div class="index-card">
      <div class="index-header">
        <%= link_to user_path(user.id) do %>
          <% if user.image.attached? %>
            <%= image_tag user.image, class: "profile-image", alt: "#{user.name}のプロフィール画像" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "profile-image", alt: "デフォルトプロフィール画像" %>
          <% end %>
        <% end %>
        <div class="index-info">
          <span class="user-index-meta">
            <i class="fa-regular fa-file"></i> <%= user.tasks.size %> / 
            <i class="fa-solid fa-circle-check"></i> <%= user.tasks.complete.size %> / 
            フォロー：<%= user.followings.size %> / 
            フォロワー：<%= user.followers.size %>
          </span>
          <b><%= link_to user.name, user_path(user.id) %></b>
        </div>
        <div class="follow-button">
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to user_relationships_path(user.id), method: :delete, class: "submit-btn-group" do %>
                <i class="fa-solid fa-user-slash"></i>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(user.id), method: :post, class: "submit-btn-group" do %>
                <i class="fa-solid fa-user"></i> <i class="fa-solid fa-plus"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @users %>
