<h4>ユーザ一覧</h4>

<% @users.each do |user| %>
    <li>
        <%= link_to user_path(user.id) do %>
            <% if user.image.attached? %>
                <%= image_tag user.image, size: "50x50" %>
            <% else %>
                <%= image_tag "no_image", size: "50x50" %>
            <% end %>
        <% end %>

        <%= link_to user.name, user_path(user.id) %>
    </li>
<% end %>

<%= paginate @users %>