<div class="main-title">
  <h4><i class="fa-solid fa-user"></i>ユーザ詳細画面</h4>
</div>
<p></p>

<div class="detail-results">
  <div class="detail-card">
    <div class="detail-row">
      <div>
        <b>ユーザ名</b>：
        <% if @user.image.attached? %>
          <%= image_tag @user.image,  alt: "#{@user.name}のプロフィール画像", class: "profile-image"  %>
        <% else %>
          <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image" %>
        <% end %>
        <%= @user.name %>
      </div>
      <hr>
      <p></p>
      <div>
        <span class="task-meta-detail">
          <b>メールアドレス</b>：
          <%= @user.email %>
          <p></p>
          
          <b>所属グループ</b>：<br>
          （管理）<br>
          <div class="group-list">
            <% @owned_groups.each do |group| %>
              <%= link_to group_path(group) do %>
                <% if group.image.attached? %>
                  <%= image_tag group.image,  alt: "#{group.name}のプロフィール画像", class: "profile-image-small"  %>
                <% else %>
                  <%= image_tag "no_group_image.png", class: "profile-image-small", alt: "#{group.name}の画像" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          （メンバー）<br>
          <div class="group-list">
            <% @joined_groups.each do |group| %>
              <%= link_to group_path(group) do %>
                <% if group.image.attached? %>
                  <%= image_tag group.image,  alt: "#{group.name}のプロフィール画像", class: "profile-image-small"  %>
                <% else %>
                  <%= image_tag "no_group_image.png", class: "profile-image-small", alt: "#{group.name}の画像" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </span>
      </div>
      <p></p>
      <hr size="10">
      <!-- 投稿一覧 -->
      <div class="tasks-section">
        <span class="detail-title">
          <b>投稿したタスク</b>：
          <span class="task-meta-detail">計 <%= @tasks.count %> 個</span>
        </span>
        <li class="tasks-list">
          <div class="task-content">
            <% @tasks.each do |task| %>
              <div class="task-item">
                <span class="user-show-task-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
                <div class="task-title-and-meta">
                  <span class="task-title"><b><%= link_to task.title, task_path(task.id) %></b></span>
                  <span class="task-meta-detail">
                    <%= task.updated_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %> / 
                    <i class="fa-regular fa-comment"></i><%= task.comments.count %> / 
                    <i class="fa-solid fa-fire"></i><%= task.favorites.count %> 
                  </span>
                </div>
              </div>
              <hr size="10">
            <% end %>
          </div>
        </li>
        <%= paginate @tasks %>
      </div>
      <p></p>
      <% unless @user.guest_user? %>
        <div align="right">
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path(@user.id) %> | 
            <%= link_to "退会", withdraw_user_path(@user), method: :patch, data: { confirm: "本当に退会しますか？" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
