<div class="main-title">
  <h4><i class="fa-solid fa-user"></i>ユーザ詳細画面</h4>
</div>
<p></p>

<div class="detail-results">
  <div class="detail-card">
    <div class="detail-row">
      <div>
        <b>ユーザ名</b>：
        <%= @user.name %>
      </div>
      <p></p>
      <div>
        <span class="task-meta-detail">
          <b>プロフィール画像</b>：
          <% if @user.image.attached? %>
            <%= image_tag @user.image,  alt: "#{@user.name}のプロフィール画像", class: "profile-image"  %>
          <% else %>
            <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image" %>
          <% end %>
          <br>
          <b>メールアドレス</b>：
          <%= @user.email %>
        </span>
      </div>
      <p></p>
      <hr size="10">
      <!-- 投稿一覧 -->
      <div class="tasks-section">
        <span class="detail-title">
          <b>投稿したタスク</b>：
        </span>
        <li class="tasks-list">
          <div class="task-content">
            <% @tasks.each do |task| %>
              <div class="task-item">
                <i class="fa-solid fa-circle-check"></i>
                <div class="task-title-and-meta">
                  <span class="task-title"><%= link_to task.title, task_path(task.id) %></span>
                  <span class="task-meta-detail">
                    <%= task.updated_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %> / 
                    <%= task.comments.count %> コメント
                  </span>
                </div>
              </div>
              <hr size="10">
            <% end %>
          </div>
        </li>
        <%= paginate @tasks %>
      </div>
      <p></p>
      <div align="right">
        <% if @user == current_user %>
          <%= link_to "編集", edit_user_path(@user.id) %> | 
          <%= link_to "退会", withdraw_user_path(@user), method: :patch, data: { confirm: "本当に退会しますか？" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
