<!DOCTYPE html>
<html>
  <head>
    <title>Taskun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="nav">
        <!-- ログイン中ナビゲーション  -->
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to users_path do %>
              ユーザー一覧
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to user_path(current_user.id) do %>
              マイページ
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to tasks_path do %>
              タスク一覧
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>

        <!-- ログイン前ナビゲーション  -->
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
              新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              ログイン
            <% end %>
          </li>
        <% end %>

      </div>
    </header>

    <!-- フラッシュメッセージ  -->
    <% if flash[:notice] %>
      <div class="flash-message notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash-message alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
