<% unless (controller_path == "public/homes" && ["top", "about"].include?(action_name)) || 
          ["sessions", "registrations", "passwords"].include?(controller_name) %>
<!DOCTYPE html>
<html>
  <head>
    <title>Taskun</title>
    <link rel="icon" href="<%= asset_path('site-icon.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/38dc52f0f7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap 5.3 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap 5.3 JS Bundle（Popper含む） -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- ナビゲーション  -->
    <header class="shadow-sm">
      <%= render 'public/shared/navbar' %>
    </header>

    <!-- フラッシュメッセージ  -->
    <% if flash[:notice] %>
      <div class="flash-message notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-message alert"><%= flash[:alert] %></div>
    <% end %>
    <p></p>

    <!-- ここからサイドバー -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- 作成画面 -->
          <% if user_signed_in? && @new_task.present? %>
            <div class="main-title">
              <h4><i class="fa-solid fa-file"></i>新規タスク作成</h4>
            </div>
            <p></p>
            <!-- 新規投稿のエラーメッセージ -->
            <%= render "public/shared/error_messages", resource: @new_task %>
            <!-- 投稿フォーム -->
            <%= form_with model: @new_task, local: true do |f| %>
              <div class="form-field">
                <b>タスク名</b>
                <%= f.text_field :title, placeholder: "タスク名を入力", class: "form-input" %>
                <b>キーワード</b>
                <%= f.text_field :keyword1, placeholder: "キーワードを入力", class: "form-input" %>
                <%= f.text_field :keyword2, class: "form-input" %>
                <%= f.text_field :keyword3, class: "form-input" %>
                <%= button_tag(type: 'submit', class: 'submit-btn') do %>
                  <i class="fa-solid fa-paper-plane"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- サイドバーここまで -->
        <!-- メインコンテンツ -->
        <div class="col-lg-8">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <!-- フッター -->
    <footer class="footer mt-auto">
      <hr>
      © 2025
      <a href="https://x.com/___eliri">Erika.K</a>
    </footer>
  </body>
</html>
<% end %>
