<% unless (controller_path == "public/homes" && ["top", "about"].include?(action_name)) || 
          ["sessions", "registrations", "passwords"].include?(controller_name) %>
<!DOCTYPE html>
<html>
  <head>
    <title>Taskun</title>
    <link rel="icon" href="<%= asset_path('site-icon.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/38dc52f0f7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <li class="navbar-brand p-3">
            <%= link_to root_path do %>
              <span class="top-icon">
                <%= image_tag "site-icon.png", alt: "サイトアイコン", width: 40, height: 40 %>
                Taskun.
              </span>
            <% end %>
          </li>

          <!-- 通知欄 -->
          <li class="navbar-brand p-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownmenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-bell"></i>
              <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_user.notifications.where(read: false).any? %>
                <small class="dropdown-item disabled text-secondary">直近5件の未読の通知を表示しています</small>
                <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to notification_path(notification), method: :patch, class: "dropdown-item custom-notification" do %>
                    <% notification_user = notification.notifiable.try(:user) || notification.notifiable.try(:follower) %>
                    <% if notification_user&.image&.attached? %>
                      <%= image_tag notification_user.image, alt: "#{notification_user.name}のプロフィール画像", class: "profile-image-small mr-2" %>
                    <% else %>
                      <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small mr-2" %>
                    <% end %>
                    <%= notification.message %>
                    <small class="text-muted"><%= notification.created_at.in_time_zone('Tokyo').strftime('%m月%d日 %H:%M') %></small>
                  <% end %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled text-secondary">未読の通知はありません</span>
              <% end %>
            </div>
          </li>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- ログイン中ナビゲーション  -->
            <ul class="navbar-nav ml-auto">
            <% if current_user.present? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id) do %>
                  <% if current_user.image.attached? %>
                    <%= image_tag current_user.image, alt: "#{current_user.name}のプロフィール画像", class: "profile-image-small" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", alt: "デフォルトプロフィール画像", class: "profile-image-small" %>
                  <% end %>
                  <%= current_user.name %>
                <% end %>
              <% end %>
              </li>
              <li class="nav-item">
                <%= link_to tasks_path do %>
                  <i class="fa-solid fa-list-check"></i> タスク一覧
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= link_to users_path do %>
                  <i class="fa-solid fa-users"></i> ユーザー一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- ナビゲーション終わり  -->

    <!-- フラッシュメッセージ  -->
    <% if flash[:notice] %>
      <div class="flash-message notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-message alert"><%= flash[:alert] %></div>
    <% end %>
    <p></p>

    <!-- ここからサイドバー -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- 検索機能 -->
          <div class="main-title">
            <h4><i class="fa-solid fa-magnifying-glass"></i>検索</h4>
          </div>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <b>検索条件を入力</b>　<span class="task-meta">","でAND検索</span>
            <%= f.text_field :query, value: @query, placeholder: "タスク名,ユーザー名,キーワード", class: "form-input" %>
            <%= f.submit "検索", class: "submit-btn" %>
          <% end %>
          <p></p>
          <p></p>
          <!-- 作成画面 -->
          <% if user_signed_in? && @new_task.present? %>
            <div class="main-title">
              <h4><i class="fa-solid fa-file"></i>新規タスク作成</h4>
            </div>
            <p></p>
            <!-- 新規投稿のエラーメッセージ -->
            <%= render "public/shared/error_messages", resource: @new_task %>
            <!-- 投稿フォーム -->
            <%= form_with model: @new_task, local: true do |f| %>
              <div class="form-field">
                <b>タスク名</b>
                <%= f.text_field :title, placeholder: "タスク名を入力", class: "form-input" %>
                <b>キーワード</b>
                <%= f.text_field :keyword1, placeholder: "キーワードを入力", class: "form-input" %>
                <%= f.text_field :keyword2, class: "form-input" %>
                <%= f.text_field :keyword3, class: "form-input" %>
                <%= f.submit "投稿", class: "submit-btn" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- サイドバーここまで -->
        <!-- メインコンテンツ -->
        <div class="col-lg-8">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <!-- フッター -->
    <footer class="footer mt-auto">
      <hr>
      Taskun.<br>
      お問い合わせは、<a href="mailto:koguchi.e915@gmail.com"><b><i class="fa-regular fa-envelope"></i>こちら</b></a>まで。
    </footer>
  </body>
</html>
<% end %>
