<!DOCTYPE html>
<html>
  <head>
    <title>Taskun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/38dc52f0f7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <li class="navbar-brand p-3">
            <%= link_to "Taskun", root_path %>
          </li>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- ログイン中ナビゲーション  -->
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to user_path(current_user.id) do %>
                    <i class="fa-solid fa-user"></i> マイページ
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to tasks_path do %>
                    <i class="fa-solid fa-list-check"></i> タスク一覧
                  <% end %>
                </li>
                
                <li class="nav-item">
                  <%= link_to users_path do %>
                    <i class="fa-solid fa-users"></i> ユーザ一覧
                  <% end %>
                </li>

                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                  <% end %>
                </li>

              <!-- ログイン前ナビゲーション  -->
              <% else %>
                <li class="nav-item">
                  <%= link_to about_path do %>
                    <i class="fa-solid fa-list"></i> Taskunとは？
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path do %>
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path do %>
                    <i class="fa-solid fa-right-to-bracket"></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- ナビゲーション終わり  -->

    <!-- 検索機能 -->
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :query, placeholder: "検索ワードを入力" %>
      <%= f.submit "検索" %>
    <% end %>

    <% if @results.present? %>
      <h1>検索結果</h1>
      <ul>
        <% @results.each do |result| %>
          <li><%= result.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>該当する結果が見つかりませんでした。</p>
    <% end %>

    <!-- フラッシュメッセージ  -->
    <% if flash[:notice] %>
      <div class="flash-message notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-message alert"><%= flash[:alert] %></div>
    <% end %>
    <p></p>

    <!-- ここからサイドバー -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <% unless controller_path == "public/homes" && (action_name == "top" || action_name == "about") %>
            <!-- 作成画面 -->
            <% if user_signed_in? && @new_task.present? %>
              <h4>新規タスク作成</h4>
              <p></p>
              <!-- 新規投稿のエラーメッセージ -->
              <% if @new_task.errors.any? %>
                <div class="new-error-message">
                  <b><%= @new_task.errors.count %>件のエラーがあります。</b>
                  <ul>
                    <% @new_task.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <!-- 投稿フォーム -->
              <%= form_with model: @new_task, local: true do |f| %>
                <div class="form-field">
                  <h4>タスク内容</h4>
                  <%= f.text_field :title, class: "form-input" %>
                </div>

                <div class="form-field">
                  <h4>キーワード</h4>
                  <%= f.text_field :keyword1, class: "form-input" %>
                  <%= f.text_field :keyword2, class: "form-input" %>
                  <%= f.text_field :keyword3, class: "form-input" %>
                </div>

                <div class="form-field">
                  <%= f.submit "投稿", class: "submit-btn" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <!-- サイドバーここまで -->

        <!-- メインコンテンツ -->
        <div class="col-lg-8">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <!-- フッター -->
      <div class='footer'>
        <hr>
        <p>Taskun.</p>
      </div>
    </footer>
  </body>
</html>
